@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@400;500&display=swap');

body {
    margin: 0;
    background-color: #6d6d6d;
    color: #fff;
    font-family: 'Barlow', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    background-color: #333;
}

.hidden-sticky {
    display: flex;
    justify-content: center;
    width: min(95%, 85rem);
    margin: 0 auto;
}
.wrapper {
    display: flex;
    width: 300px;
    position: relative;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
}
.no-dropdown {
    display: flex;
    place-content: center;
    gap: 5px;
    width: 100px;
    padding: 25px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.no-dropdown:hover {
    background-color: color-mix(in srgb, #333, #fff 10%);
}
.dropdown-content {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    visibility: hidden;
    cursor: pointer;
    border: 1px solid #000;
}
.sort .dropdown-content {
    color: #000;
}
.sort .dropdown-content li {
    padding: 15px;
    border-bottom: 1px solid rgb(219, 229, 230);
}
.sort .dropdown-content li:hover {
    border-left: 5px solid #3e54a3;
}
.filter .dropdown-content {
    font-weight: 600;
    height: 400px;
    overflow-y: scroll;
    
}
.filter .dropdown-content li {
    padding: 12px;
    border-bottom: 1px solid rgb(219, 229, 230);
}
.filter .dropdown-content .text-header {
    color: rgb(214, 214, 214);
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
}
.filter .dropdown-content label {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: max-content;
    color: #000;
}
.filter .dropdown-content input {
    width: 20px;
    height: 20px;
    background-color: #3e54a3;
}
label[for="html-&-css"], label[for="js"], label[for="api"] {
    text-transform: uppercase;
}


/* individual styling */
